# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
codes
answerapi1.py
answerapi2.py
db_vans.py